<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home - VoxApp</title>
    <link rel="stylesheet" href="/public/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
    <% if (!user) { %>
        <% include ./partials/loginbar %>
    <% } else { %>
        <% include ./partials/userbar %>
    <% } %>
<div class="container">

    <div>
        <h1>VoxApp</h1>
        <p>After registering, you are able to create your own polls, as well as add options to polls that 
        others have made. Anyone, registered or not, can vote (once) on any poll by any user.</p>
    </div>

    <div class="polls">
        <h3>Latest Polls:</h3>
            <ul><% for(var i=0; i<polls.length; i++) {%>
                <li class="question">
                    <a href="<%= polls[i].username + "/" + polls[i]._id %>"><%= polls[i].question %>
                    </a>
                </li>
                <p class="subtitle">By <%= polls[i].username %>. <%= polls[i].answers.length %> options, <%= polls[i].answers.reduce((a,b)=>a + b.votes,0) %> total vote(s).</p>
            <% } %></ul>
    </div>
</div>
<% include ./partials/footer %>
</body>
</html>