<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-question"></span> <%= poll[0].question %></h1>
    <well>Share link:<span id="link"><%= `https://${host}${path}` %></span> <span class="fa fa-copy" id="copy"></span> 
    </well>

    <ul>
        <% for(var j=0; j<poll[0].answers.length; j++) {%>
        <li id="<%= poll[0].answers[j]._id %>" class="option"><span class="fa fa-angle-right"></span> <%= poll[0].answers[j].answer %>   <span><%= poll[0].answers[j].votes %></span></li>
        <% } %>
    </ul>
    <% if (user) { %>
        <form>
            <div class="form-group answer">
                <label>Answer:</label>
                <input type="text" class="form-control" name="answer" id="answer" required>
                <button class="btn btn-warning btn-md" id="addoption"><span class="fa fa-plus"></span></button>
                <input type="hidden" class="form-control" name="pollid" id="pollid" value="<%=poll[0]._id%>">
            </div>
        </form>
    <% } %>
    
    <canvas id="votesChart" width="400" height="400"></canvas>
</div>

</div>
<script type="text/javascript" src="/controllers/pollCtrl.client.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script>
    const answers = [];
    const votes = [];
    console.log("Poll: ", <%- JSON.stringify(poll[0].answers) %>);
    <%- JSON.stringify(poll[0].answers) %>.filter(v => v.votes !== 0)
        .sort((a,b)=> b.votes - a.votes)
        .forEach(v => {
            answers.push(v.answer);
            votes.push(v.votes);
        });
    const ctx = document.getElementById('votesChart').getContext("2d");
    const chart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
        labels: answers,
        datasets: [{
            label: '# of Votes',
            data: votes,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
        options: {
        scales: {
            xAxes: [{
                position: "top"  
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });
</script>
</body>
</html>