<!doctype html>
<html>
<head>
    <title>My Polls - VoxApp</title>
    <link rel="stylesheet" href="/public/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <% include ./partials/userbar %>
<div class="container">
    

    <div class="row">
        <div class="polls">
            <h1>My Polls</h1>
            <ul><% for(var i=0; i<polls.length; i++) {%>
               <li class="question"><a href="<%= user.local.username + "/" + polls[i]._id %>">
                       <%= polls[i].question %>
                    </a> <span class="fa fa-trash-o delete right" id="<%= polls[i]._id %>"></span></li>
                    <p class="subtitle"><%= polls[i].answers.length %> options, <%= polls[i].answers.reduce((a,b)=>a + b.votes,0) %> total vote(s).</p>
            <% } %></ul>
        </div>        

    </div>

</div>

<script type="text/javascript" src="/controllers/profileCtrl.client.js"></script>
<% include ./partials/footer %>
</body>
</html>